@font-face {
    font-family: technology;
    src: url(/fonts/Technology.ttf);
  }

@font-face {
  font-family: shadowsintoLight;
  src: url(/fonts/ShadowsIntoLight-Regular.ttf)
 }

body, html {
    margin: 0;
    padding: 0;
    background-image: url('pattern-wood-retro-desktop.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    height: 100%;
}

header {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

li{
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

li:hover {
    cursor: pointer;
}

h1 {
    font-family: shadowsintoLight;
}

#calculator {
    display: flex;
    flex-flow: column wrap;
    width: 100%; 
    align-items: center;
    padding: 0 auto;
    margin: 0 auto;
    /* position: relative; */
}

#calcOutput {
    font-family: shadowsintoLight;
    font-size: 30px;
}

#outputs {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    align-items: center;
    font-family: shadowsintoLight;
    margin: 0 auto;
}

#pencilImg {
    width: 127px;
    height: 350px;
    margin: 0;
}

#eraserImg {
    width: 130px;
    height: 52px;
}

#eraserImg:hover {
    cursor: pointer;
}

#equalsBtn {
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 200px;
    font-size: 20px;
    border: 1px solid rgb(52, 97, 60);
    border-left: 2px solid rgb(61, 119, 72);
    border-bottom: 5px solid rgb(60, 116, 71);
    background-color: rgb(95, 182, 113);
    position: relative;
    color: white;
}

#equalsBtn:active{
    border-bottom: 3px solid rgb(52, 97, 60);
    border-left: 1px solid rgb(52, 97, 60);
    top: 3px;
}

#clearBtn:active{
    border-bottom: 3px solid rgb(97, 65, 65);
    top: 3px;
}

#calcContainer {
    background-color: rgb(213, 215, 188);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 250px; 
    box-shadow: 0 5px 6px 0 rgb(108, 108, 108);
    border: 1git px solid rgb(108, 108, 108);
}

#clearBtn {
    padding: 5px;
    margin: 5px;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 25px;
    border: 1px solid rgb(110, 66, 66);
    border-bottom: 5px solid rgb(97, 65, 65);
    background-color: rgb(198, 115, 115);
    padding: 1px 7px 1px 7px;
    display: inline-block;
    position: relative;
    top: 0px;
}

#equalsContainer {
    display: flex;
    justify-content: center;;
}

#deleteHistBtn {
    background-color: transparent;
    border: none;
}

#inputField {
    background-color: black;
    color: rgb(134, 198, 38);
    width: 200px;
    height: 50px;
    text-align: right;
    margin-bottom: 20px;
    cursor:initial;
    border: none;
    outline: none;
    font-size: 28px;
    font-family: technology;
    letter-spacing: 3px;
    border: 2px 3px 0 0 solid rgb(65, 65, 65);
    border-style: inset;
}

#outputs h2 {
    text-decoration: underline;
}

.buttons {
    margin: 5px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    color: black;
    background-color: rgb(216, 216, 211);
    border: 1px solid rgb(123, 121, 118);
    border-bottom: 5px solid rgb(172, 169, 162);
    padding: 1px 7px 1px 7px;
    display: inline-block;
    position: relative;
    top: 0px;
}

.buttons:active{
    border-bottom: 3px solid #999;
    top: 3px;
}

.operators {
    padding: 5px;
    margin: 5px;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 25px;
    background-color: #a4a4a4;
    border: 1px solid rgb(82, 82, 82);
    border-bottom: 5px solid rgb(89, 89, 89);
    padding: 1px 7px 1px 7px;
    display: inline-block;
    position: relative;
    top: 0px;
}

.operators:active{
    border-bottom: 3px solid rgb(70, 69, 69);
    top: 3px;
}

.operators, .buttons, #equalsBtn, #clearBtn:hover {
    cursor: pointer;
}

.fa-eraser {
    font-size: 20px;
    margin-left: 20px;
}
